#### CURSO 19150-Data-science_Alumno:Arias_Claudio 
3ra Entrega

### CONSIGNA: 
* Con este archivo,***"Summer-Olympic-medals-1976-to-2008.csv"*** construir un objeto de series de tiempo con el índice igual al año de los juegos olímpicos
* Separar nombres de apellidos en dos columnas distintas usando la coma como separador
* Obtener medidas resumen del conjunto de datos. Cuál es el país que ganó más medallas?
* Construir una tabla que muestre cuántas medallas obtuvieron los hombres en total en cada año que se realizó el evento.

    ##Aspectos a incluir en el entregable:
    El código debe estar hecho en un notebook y debe estar probado.

In [31]:
import pandas as pd
import numpy as np

### construir un objeto de series de tiempo con el índice igual al año de los juegos olímpicos

In [32]:
# selecciono la columna "Year", como indice y el encoding ISO-8859-1 
df_ol = pd.read_csv('Summer-Olympic-medals-1976-to-2008.csv',encoding=("ISO-8859-1")).set_index(['Year'], drop=False)
df_ol.head()

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
Year,,,,,,,,,,,
1976,Montreal,1976,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver
1976,Montreal,1976,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
1976,Montreal,1976,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
1976,Montreal,1976,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
1976,Montreal,1976,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze

In [127]:
df[df['Gender'] == 'Men'] #filtro solo por "Men"

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
Year,,,,,,,,,,,
1976,Montreal,1976,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
1976,Montreal,1976,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
1976,Montreal,1976,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
1976,Montreal,1976,Aquatics,Diving,10m platform,"LOUGANIS, Gregory",Men,USA,United States,M,Silver
1976,Montreal,1976,Aquatics,Diving,10m platform,"DIBIASI, Klaus",Men,ITA,Italy,M,Gold
...,...,...,...,...,...,...,...,...,...,...,...
2008,Beijing,2008,Wrestling,Wrestling Gre-R,66 - 74kg,"GUENOT, Christophe",Men,FRA,France,M,Bronze
2008,Beijing,2008,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",Men,GEO,Georgia,M,Gold
2008,Beijing,2008,Wrestling,Wrestling Gre-R,55 - 60kg,"RAHIMOV, Vitaliy",Men,AZE,Azerbaijan,M,Silver
2008,Beijing,2008,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",Men,FRA,France,M,Gold
2008,Beijing,2008,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",Men,CUB,Cuba,M,Gold

### Obtener medidas resumen del conjunto de datos. Cuál es el país que ganó más medallas? no me salió
no me salió , consulté y me explicaron que debería antes de los cálculos usar .loc y df['Gender'] == Men
para filtrar por sexo masculino pero no me sale luego cuando quiero agrupar por Medal y Gender, me totaliza Year,

### Construir una tabla que muestre cuántas medallas obtuvieron los hombres en total en cada año que se realizó el evento.

In [128]:
print(df.groupby(by=['Medal','Gender'] ).sum().groupby(level=[0]).cumsum()) # no me salio como pide el ejercicio

                   Year
Medal  Gender
Bronze Men      6490112
       Women   10482504
Gold   Men      6137336
       Women   10051768
Silver Men      6079624
       Women   10000024

In [104]:
cant = df_ol.groupby(['Year']).count() # acá probé de contar por año medallas y corroboré que está bien, 
cant

Year
1976    1305
1980    1387
1984    1459
1988    1546
1992    1705
1996    1859
2000    2015
2004    1998
2008    2042
Name: Gender, dtype: int64

## Separar nombres de apellidos en dos columnas distintas usando la coma como separador

In [61]:
df["Athlete"].str.split(expand=True).fillna(0) # separo en columnas separadas y relleno los datos vacíos con CERO

               0           1       2  3  4  5
Year
1976     KÖHLER,     Christa       0  0  0  0
1976   KOSENKOV,   Aleksandr       0  0  0  0
1976      BOGGS,      Philip  George  0  0  0
1976   CAGNOTTO,     Giorgio  Franco  0  0  0
1976     WILSON,     Deborah  Keplar  0  0  0
...          ...         ...     ... .. .. ..
2008     GUENOT,  Christophe       0  0  0  0
2008  KVIRKELIA,    Manuchar       0  0  0  0
2008    RAHIMOV,     Vitaliy       0  0  0  0
2008     GUENOT,      Steeve       0  0  0  0
2008      LOPEZ,      Mijain       0  0  0  0

[15316 rows x 6 columns]